body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #003366;
    padding: 12px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

.container {
    background-color: white;
    width: 80%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
}

h1, h2, h3 {
    color: #003366;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
